<nav class="navbar navbar-expand-md align-items-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
        aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span><a class="navbar-brand" href="#" data-page="home">Pañol Motores</a></span>
    </div>

    <div class="ms-auto">
        <span>
            <span class="text-muted-custom">Bienvenido, </span>
            <span class="text-highlight">Invitado</span>
        </span>
    </div>
</nav>